Package: ch.ringwald.hid-springboard
Name: hid-springboard
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Matthias Ringwald
Author: Matthias Ringwald
Section: Tweaks
