Package: ch.ringwald.hid-support-test
Name: hid-support-test
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Matthias Ringwald
Author: Matthias Ringwald
Section: System
Tag: role::hacker
